[submodule "ci-deployment"]
	path = ci-deployment
	url = https://github.com/nhsuk/ci-deployment.git
[submodule "scripts/ci-deployment"]
	path = scripts/ci-deployment
	url = git@github.com:nhsuk/ci-deployment.git
