version: '2.1'

services:

  tests:
    extends:
      file: docker-compose.yml
      service: base-app
    command: sh ./scripts/container-tests
    volumes:
      - gp-finder-tests-node_modules:/code/node_modules
    environment:
      NODE_ENV: test
    user: root
    links:
      - gp-finder-db:es

  ci-tests:
    extends:
      file: docker-compose.yml
      service: base-app
    command: sh ./scripts/container-ci-tests
    volumes:
      - gp-finder-ci-tests-node_modules:/code/node_modules
    environment:
      COVERALLS_REPO_TOKEN: ${COVERALLS_REPO_TOKEN}
      NODE_ENV: development
      SNYK_TOKEN: ${SNYK_TOKEN}
      TRAVIS: ${TRAVIS}
      TRAVIS_BRANCH: ${TRAVIS_BRANCH}
      TRAVIS_COMMIT: ${TRAVIS_COMMIT}
      TRAVIS_JOB_ID: ${TRAVIS_JOB_ID}
    user: root
    links:
      - gp-finder-db:es

  gp-finder-db:
    image: "nhsuk/profiles-db-elastic:${profiles_db_elastic_docker_image_tag-0.3.0}"

volumes:
  gp-finder-tests-node_modules:
  gp-finder-ci-tests-node_modules:
