@charset "UTF-8";
@font-face { font-family: "FS Me"; font-style: normal; font-weight: 200; src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Light.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Light.woff") format("woff"); }

@font-face { font-family: "FS Me"; font-style: normal; font-weight: 400; src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Regular.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Regular.woff") format("woff"); }

@font-face { font-family: "FS Me"; font-style: bold; font-weight: 600; src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Bold.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Bold.woff") format("woff"); }

@font-face { font-family: "FS Me"; font-style: bold; font-weight: 800; src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Heavy.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Heavy.woff") format("woff"); }

.page-section, .global-header__inner, .global-footer__inner, .local-header, .notification-banner__inner, .skiplinks__inner { margin: 0 16px; max-width: 960px; }

@media (min-width: 925px) { .page-section, .global-header__inner, .global-footer__inner, .local-header, .notification-banner__inner, .skiplinks__inner { margin: 0 32px; } }

@media (min-width: 1024px) { .page-section, .global-header__inner, .global-footer__inner, .local-header, .notification-banner__inner, .skiplinks__inner { margin: 0 auto; } }

.grid-row, .link-list__row { margin: 0 -16px; }

@media (min-width: 925px) { .page-section .grid-row > *, .page-section .link-list__row > *, .local-header .grid-row > *, .local-header .link-list__row > * { margin-top: 0; } }

.section-unit--divider, .tabs, .reading-width { max-width: 40em; }

.grid-row:after, .link-list__row:after, .article-pagination:after, .panel:after, .tabs__nav:after { clear: both; content: ""; display: block; }

.util-visuallyhidden, .js-enabled .selection-button__input, .js-enabled .tabs__tab-heading { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.util-nofocus:focus { outline: none; }

.util-bg-tint__yellow { background-color: #fff1d2; }

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, figure, table, th, td, caption, hr { margin: 0; padding: 0; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/** 1. Change the default font family in all browsers (opinionated). 2. Correct the line height in all browsers. 3. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
/* Document ========================================================================== */
html { font-family: sans-serif; /* 1 */ line-height: 1.15; /* 2 */ -ms-text-size-adjust: 100%; /* 3 */ -webkit-text-size-adjust: 100%; /* 3 */ }

/* Sections ========================================================================== */
/** Remove the margin in all browsers (opinionated). */
body { margin: 0; }

/** Add the correct display in IE 9-. */
article, aside, footer, header, nav, section { display: block; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 { font-size: 2em; margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** Add the correct display in IE 9-. 1. Add the correct display in IE. */
figcaption, figure, main { /* 1 */ display: block; }

/** Add the correct margin in IE 8. */
figure { margin: 1em 40px; }

/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/* Text-level semantics ========================================================================== */
/** 1. Remove the gray background on active links in IE 10. 2. Remove gaps in links underline in iOS 8+ and Safari 8+. */
a { background-color: transparent; /* 1 */ -webkit-text-decoration-skip: objects; /* 2 */ }

/** Remove the outline on focused links when they are also active or hovered in all browsers (opinionated). */
a:active, a:hover { outline-width: 0; }

/** 1. Remove the bottom border in Firefox 39-. 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ text-decoration: underline dotted; /* 2 */ }

/** Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
b, strong { font-weight: inherit; }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bolder; }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** Add the correct font style in Android 4.3-. */
dfn { font-style: italic; }

/** Add the correct background and color in IE 9-. */
mark { background-color: #ff0; color: #000; }

/** Add the correct font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/* Embedded content ========================================================================== */
/** Add the correct display in IE 9-. */
audio, video { display: inline-block; }

/** Add the correct display in iOS 4-7. */
audio:not([controls]) { display: none; height: 0; }

/** Remove the border on images inside links in IE 10-. */
img { border-style: none; }

/** Hide the overflow in IE. */
svg:not(:root) { overflow: hidden; }

/* Forms ========================================================================== */
/** 1. Change the font styles in all browsers (opinionated). 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea { font-family: sans-serif; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }

/** Show the overflow in IE. 1. Show the overflow in Edge. */
button, input { /* 1 */ overflow: visible; }

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove the inheritance of text transform in Firefox. */
button, select { /* 1 */ text-transform: none; }

/** 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4. 2. Correct the inability to style clickable types in iOS and Safari. */
button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; /* 2 */ }

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

/** Change the border, margin, and padding in all browsers (opinionated). */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }

/** 1. Add the correct display in IE 9-. 2. Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Remove the default vertical scrollbar in IE. */
textarea { overflow: auto; }

/** 1. Add the correct box sizing in IE 10-. 2. Remove the padding in IE 10-. */
[type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }

/** Remove the inner padding and cancel buttons in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

/* Interactive ========================================================================== */
/* Add the correct display in IE 9-. 1. Add the correct display in Edge, IE, and Firefox. */
details, menu { display: block; }

/* Add the correct display in all browsers. */
summary { display: list-item; }

/* Scripting ========================================================================== */
/** Add the correct display in IE 9-. */
canvas { display: inline-block; }

/** Add the correct display in IE. */
template { display: none; }

/* Hidden ========================================================================== */
/** Add the correct display in IE 10-. */
[hidden] { display: none; }

html, body, button, input, table, td, th { font-family: "FS Me", Arial, sans-serif; }

html { background-color: #0072c6; }

body { background-color: #fff; }

.button { font-family: "FS Me", Arial, sans-serif; font-size: 20px; font-weight: 600; line-height: 32px; text-transform: none; margin-top: 16px; appearance: none; background-color: #008a40; border: 0; color: #fff; cursor: pointer; display: inline-block; letter-spacing: .5px; padding: 12px 24px; text-align: center; width: 100%; }

@media (min-width: 641px) { .button { font-size: 20px; line-height: 32px; } }

@media (min-width: 925px) { .button { font-size: 20px; line-height: 32px; } }

@media (min-width: 925px) { .button { margin-top: 32px; } }

@media (min-width: 641px) { .button { margin-right: 16px; width: auto; } }

@media (min-width: 925px) { .button { margin-right: 32px; } }

.button:link, .button:hover, .button:focus, .button:visited { background-color: #008a40; color: #fff; text-decoration: none; }

.button:focus { outline: 3px solid #ffb81c; }

.button--cancel, .button--cancel:link, .button--cancel:hover, .button--cancel:focus, .button--cancel:visited { background-color: #d81e05; border-color: #d81e05; }

details { clear: both; display: block; }

details summary { font-family: "FS Me", Arial, sans-serif; font-size: 20px; font-weight: 400; line-height: 32px; text-transform: none; color: #0072c6; cursor: pointer; display: inline-block; margin-bottom: em(5); position: relative; }

@media (min-width: 641px) { details summary { font-size: 20px; line-height: 32px; } }

@media (min-width: 925px) { details summary { font-size: 20px; line-height: 32px; } }

details summary:hover { color: #0091c9; }

details summary:focus { outline: 3px solid #ffb81c; }

@-moz-document regexp(".*") { details summary:not([tabindex]) { display: list-item; display: revert; } }

.details__summary { text-decoration: underline; }

.details--inline .details__summary { text-decoration: none; }

.details__arrow { font-style: normal; margin-right: .35em; }

.details--inline .details__arrow { display: none; }

.details__cta { color: #0072c6; cursor: pointer; text-decoration: underline; }

.details--inline summary { color: #000; cursor: default; }

.details--inline summary::-webkit-details-marker { display: none; }

.details--inline summary:hover { color: #000; }

.details--inline summary:focus { outline: none; }

.details--inline summary:focus .details__cta { outline: 3px solid #ffb81c; }

figure { margin-left: 0; margin-right: 0; }

fieldset { border: 0; margin: 0; min-width: 0; padding: 0; }

body:not(:-moz-handler-blocked) fieldset { display: table-cell; }

legend { font-family: "FS Me", Arial, sans-serif; font-size: 20px; font-weight: 400; line-height: 32px; text-transform: none; color: #000; display: table; padding: 0; }

@media (min-width: 641px) { legend { font-size: 20px; line-height: 32px; } }

@media (min-width: 925px) { legend { font-size: 20px; line-height: 32px; } }

legend + * { -webkit-margin-top-collapse: separate; }

textarea { font-family: "FS Me", Arial, sans-serif; font-size: 20px; font-weight: 400; line-height: 32px; text-transform: none; border: 2px solid #768692; display: block; padding: 0 4px; width: 100%; }

@media (min-width: 641px) { textarea { font-size: 20px; line-height: 32px; } }

@media (min-width: 925px) { textarea { font-size: 20px; line-height: 32px; } }

textarea:focus { outline: 3px solid #ffb81c; }

img { border: 0; max-width: 100%; vertical-align: middle; }

h1 { font-family: "FS Me", Arial, sans-serif; font-size: 40px; font-weight: 600; line-height: 48px; text-transform: none; }

@media (min-width: 641px) { h1 { font-size: 48px; line-height: 64px; } }

@media (min-width: 925px) { h1 { font-size: 64px; line-height: 80px; } }

h2 { font-family: "FS Me", Arial, sans-serif; font-size: 28px; font-weight: 600; line-height: 40px; text-transform: none; }

@media (min-width: 641px) { h2 { font-size: 32px; line-height: 48px; } }

@media (min-width: 925px) { h2 { font-size: 36px; line-height: 48px; } }

h3 { font-family: "FS Me", Arial, sans-serif; font-size: 24px; font-weight: 600; line-height: 32px; text-transform: none; }

@media (min-width: 641px) { h3 { font-size: 24px; line-height: 32px; } }

@media (min-width: 925px) { h3 { font-size: 24px; line-height: 32px; } }

h4 { font-family: "FS Me", Arial, sans-serif; font-size: 20px; font-weight: 600; line-height: 32px; text-transform: none; }

@media (min-width: 641px) { h4 { font-size: 20px; line-height: 32px; } }

@media (min-width: 925px) { h4 { font-size: 20px; line-height: 32px; } }

h5 { font-family: "FS Me", Arial, sans-serif; font-size: 16px; font-weight: 600; line-height: 24px; text-transform: none; }

@media (min-width: 641px) { h5 { font-size: 16px; line-height: 24px; } }

@media (min-width: 925px) { h5 { font-size: 16px; line-height: 24px; } }

h6 { font-family: "FS Me", Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; text-transform: none; }

@media (min-width: 641px) { h6 { font-size: 16px; line-height: 24px; } }

@media (min-width: 925px) { h6 { font-size: 16px; line-height: 24px; } }

hr { background-color: #d9e1e2; border: 0; height: 4px; text-align: left; width: 130px; }

.callout--alert hr { background-color: #768692; }

.callout--severe hr { background-color: #fff; }

ul { font-family: "FS Me", Arial, sans-serif; font-size: 20px; font-weight: 400; line-height: 32px; text-transform: none; list-style: disc outside; padding-left: 1em; }

@media (min-width: 641px) { ul { font-size: 20px; line-height: 32px; } }

@media (min-width: 925px) { ul { font-size: 20px; line-height: 32px; } }

ol { font-family: "FS Me", Arial, sans-serif; font-size: 20px; font-weight: 400; line-height: 32px; text-transform: none; list-style: decimal outside; padding-left: 1em; }

@media (min-width: 641px) { ol { font-size: 20px; line-height: 32px; } }

@media (min-width: 925px) { ol { font-size: 20px; line-height: 32px; } }

ol li { padding-left: .2em; }

dl { font-family: "FS Me", Arial, sans-serif; font-size: 20px; font-weight: 400; line-height: 32px; text-transform: none; }

@media (min-width: 641px) { dl { font-size: 20px; line-height: 32px; } }

@media (min-width: 925px) { dl { font-size: 20px; line-height: 32px; } }

.local-header li + li, .page-section li + li, .global-footer li + li { margin-top: 8px; }

.local-header li > ul, .local-header li > ol, .local-header li > dl, .page-section li > ul, .page-section li > ol, .page-section li > dl, .global-footer li > ul, .global-footer li > ol, .global-footer li > dl { margin-top: 8px; }

.list--chevron { list-style: none; padding-left: 32px; }

.list--chevron li { position: relative; }

.list--chevron li:before, .list--chevron li:after { border-style: solid; content: ""; display: block; height: 0; position: absolute; top: 6px; width: 0; }

.list--chevron li:before { border-color: transparent transparent transparent #425563; border-width: 10px 0 10px 10px; left: -32px; }

.callout--warning .list--chevron li:before { border-left-color: #000; }

.callout--severe .list--chevron li:before { border-left-color: #fff; }

.list--chevron li:after { border-color: transparent transparent transparent #fff; border-width: 10px 0 10px 10px; left: -38px; }

.callout--info .list--chevron li:after, .panel .list--chevron li:after { border-left-color: #eff1f2; }

.callout--warning .list--chevron li:after { border-left-color: #ffc649; }

.callout--alert .list--chevron li:after { border-left-color: #fbe8e6; }

.callout--severe .list--chevron li:after { border-left-color: #d81e05; }

.list--check, .list--cross { list-style: none; padding-left: 32px; }

.list--check li, .list--cross li { position: relative; }

.list--check li::before, .list--check li::after, .list--cross li::before, .list--cross li::after { content: ""; left: -32px; position: absolute; zoom: 1; }

.list--check li::before { background: transparent; border: solid; border-color: #009e49; border-width: 0 0 5px 5px; height: 12px; top: 7px; transform: rotate(-45deg); width: 22px; }

.list--cross li::before, .list--cross li::after { background: #d81e05; height: 5px; top: 12px; transform: rotate(45deg); width: 24px; }

.list--cross li::after { transform: rotate(-45deg); }

a:link { color: #0072c6; }

a:visited { color: #003893; }

a:hover { color: #0091c9; }

a:active { color: #0091c9; }

a:focus { outline: 3px solid #ffb81c; }

.link--reverse-polarity:link, .callout--severe a:link, .global-footer a:link, .local-header a:link, .local-header__return:link { color: #fff; }

.link--reverse-polarity:visited, .callout--severe a:visited, .global-footer a:visited, .local-header a:visited, .local-header__return:visited { color: #fff; }

.link--reverse-polarity:hover, .callout--severe a:hover, .global-footer a:hover, .local-header a:hover, .local-header__return:hover { color: #d4efff; }

.link--reverse-polarity:active, .callout--severe a:active, .global-footer a:active, .local-header a:active, .local-header__return:active { color: #d4efff; }

.link--reverse-polarity:focus, .callout--severe a:focus, .global-footer a:focus, .local-header a:focus, .local-header__return:focus { outline: 3px solid #ffb81c; }

p { font-family: "FS Me", Arial, sans-serif; font-size: 20px; font-weight: 400; line-height: 32px; text-transform: none; }

@media (min-width: 641px) { p { font-size: 20px; line-height: 32px; } }

@media (min-width: 925px) { p { font-size: 20px; line-height: 32px; } }

table { border-collapse: collapse; border-spacing: 0; margin: 16px 0 32px; width: 100%; }

table th, table td { font-family: "FS Me", Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; text-transform: none; border-bottom: 2px solid #d9e1e2; padding: 12px 12px 12px 0; vertical-align: top; }

@media (min-width: 641px) { table th, table td { font-size: 16px; line-height: 24px; } }

@media (min-width: 925px) { table th, table td { font-size: 16px; line-height: 24px; } }

table th { font-family: "FS Me", Arial, sans-serif; font-size: 20px; font-weight: 600; line-height: 32px; text-transform: none; text-align: left; }

@media (min-width: 641px) { table th { font-size: 20px; line-height: 32px; } }

@media (min-width: 925px) { table th { font-size: 20px; line-height: 32px; } }

.table--two-column th { width: 50%; }

blockquote { quotes: "“" "”"; }

blockquote p:before { content: open-quote; }

blockquote p:after { content: no-close-quote; }

blockquote p:last-of-type { margin-bottom: 0; }

blockquote p:last-of-type:after { content: close-quote; }

abbr[title] { text-decoration: none; }

b, strong { font-weight: 600; }

.column--one-quarter { display: block; padding: 0 16px; }

@media (min-width: 925px) { .column--one-quarter { float: left; width: 25%; } }

.column--one-third { display: block; padding: 0 16px; }

@media (min-width: 925px) { .column--one-third { float: left; width: 33.33333%; } }

.column--one-half { display: block; padding: 0 16px; }

@media (min-width: 925px) { .column--one-half { float: left; width: 50%; } }

.column--two-thirds { display: block; padding: 0 16px; }

@media (min-width: 925px) { .column--two-thirds { float: left; width: 66.66667%; } }

.column--three-quarters { display: block; padding: 0 16px; }

@media (min-width: 925px) { .column--three-quarters { float: left; width: 75%; } }

.column--one-quarter-right { display: block; padding: 0 16px; }

@media (min-width: 925px) { .column--one-quarter-right { float: right; width: 25%; } }

.column--one-third-right { display: block; padding: 0 16px; }

@media (min-width: 925px) { .column--one-third-right { float: right; width: 33.33333%; } }

.column--one-half-right { display: block; padding: 0 16px; }

@media (min-width: 925px) { .column--one-half-right { float: right; width: 50%; } }

.column--two-thirds-right { display: block; padding: 0 16px; }

@media (min-width: 925px) { .column--two-thirds-right { float: right; width: 66.66667%; } }

.column--three-quarters-right { display: block; padding: 0 16px; }

@media (min-width: 925px) { .column--three-quarters-right { float: right; width: 75%; } }

.page-section { padding: 16px 0; }

@media (min-width: 925px) { .page-section { padding: 32px 0; } }

.page-section + .page-section { padding-top: 0; }

.page-section * + * { margin-top: 16px; }

@media (min-width: 925px) { .page-section * + * { margin-top: 32px; } }

.page-section--collapse-bottom { padding-bottom: 0; }

.article-pagination { padding-top: 16px; border-top: 1px solid #cce3f4; list-style: none; padding-left: 0; }

@media (min-width: 925px) { .article-pagination { padding-top: 32px; } }

@media (min-width: 641px) { .article-pagination__item + .article-pagination__item { margin-top: 0; } }

.article-pagination__item a { display: block; text-decoration: none; }

@media (min-width: 641px) { .article-pagination__item--left { float: left; width: 47%; }
  .article-pagination__item--right { float: right; text-align: right; width: 47%; } }

.article-pagination__prefix { font-family: "FS Me", Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; text-transform: none; color: #000; display: block; }

@media (min-width: 641px) { .article-pagination__prefix { font-size: 16px; line-height: 24px; } }

@media (min-width: 925px) { .article-pagination__prefix { font-size: 16px; line-height: 24px; } }

.article-pagination__title { text-decoration: underline; }

.callout { padding: 16px; background-color: #fff; }

@media (min-width: 925px) { .callout { padding: 32px; } }

.callout:focus { outline: 3px solid #ffb81c; }

.callout--muted { background-color: #d9e1e2; }

.callout--info { background-color: #eff1f2; border: solid #768692; border-width: 0 0 0 4px; }

.callout--attention { border: 12px solid #40add7; }

.callout--warning { background-color: #ffc649; border: solid #cc9316; border-width: 4px 0; }

.callout--alert { background-color: #fbe8e6; border-top: 12px solid #d81e05; }

.callout--severe { background-color: #d81e05; color: #fff; }

.callout--error { border: 4px solid #d81e05; }

.callout--compact { display: inline-block; padding: 16px 24px; }

.card__container + * { margin-top: 0; }

.card { margin-bottom: 16px; background-color: #cce3f4; display: inline-block; margin-top: 0; vertical-align: top; }

@media (min-width: 925px) { .card { margin-bottom: 32px; } }

@media (min-width: 641px) { .card { margin-right: 16px; max-width: 300px; } }

.card__caption { margin-top: 0; padding: 16px; }

.card--full-width { margin-right: 0; max-width: 40em; }

.card--full-width img { width: 100%; }

.error { border-color: #d81e05; }

.global-header { background-color: #fff; border-bottom: 2px solid #0072c6; }

.global-header__inner { padding-bottom: 16px; padding-top: 16px; }

@media (min-width: 641px) { .global-header__inner { padding-bottom: 24px; padding-top: 24px; } }

.global-header__link { background: url("../images/logotype-nhs-colour__reverse.png") no-repeat; background-size: contain; display: block; height: 32px; text-indent: -999em; width: 79px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { .global-header__link { background-image: url("../images/logotype-nhs-colour__reverse@2x.png"); background-size: 79px 32px; } }

.global-footer { background-color: #0072c6; border-top: 4px solid #005b9e; color: #fff; }

.global-footer * { font-family: "FS Me", Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; text-transform: none; }

@media (min-width: 641px) { .global-footer * { font-size: 16px; line-height: 24px; } }

@media (min-width: 925px) { .global-footer * { font-size: 16px; line-height: 24px; } }

.global-footer * + * { margin-top: 16px; }

@media (min-width: 925px) { .global-footer * + * { margin-top: 32px; } }

.global-footer__inner { padding-bottom: 96px; padding-top: 32px; }

@media (min-width: 925px) { .global-footer__inner { padding-bottom: 128px; padding-top: 48px; } }

.global-footer__inner:before { background: url("../images/logotype-nhs-colour.png") no-repeat; background-size: contain; content: ""; display: block; height: 32px; margin-bottom: 32px; text-indent: -999em; width: 79px; }

@media (min-width: 925px) { .global-footer__inner:before { margin-bottom: 48px; } }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { .global-footer__inner:before { background-image: url("../images/logotype-nhs-colour@2x.png"); background-size: 79px 32px; } }

.inline-list { list-style: none; padding-left: 0; }

@media (min-width: 641px) { .inline-list__item { display: inline; margin-top: 0; } }

@media (min-width: 641px) { .inline-list--slash .inline-list__item:after { content: "/"; }
  .inline-list--slash .inline-list__item:last-child:after { content: ""; } }

.form-label--large { font-family: "FS Me", Arial, sans-serif; font-size: 28px; font-weight: 600; line-height: 40px; text-transform: none; display: block; }

@media (min-width: 641px) { .form-label--large { font-size: 32px; line-height: 48px; } }

@media (min-width: 925px) { .form-label--large { font-size: 36px; line-height: 48px; } }

.link-list { list-style: none; padding-left: 0; }

.link-list--numbered { list-style: decimal; }

.link-list--numbered li { margin-left: 1.2em; }

.link-list--one-half { display: block; padding: 0 16px; }

@media (min-width: 925px) { .link-list--one-half { float: left; width: 50%; } }

.link-list--one-half + .link-list--one-half { margin-top: 8px; }

@media (min-width: 925px) { .link-list--one-half + .link-list--one-half { margin-top: 0; } }

.local-header { padding: 16px; margin-top: 16px; background-color: #0072c6; padding-top: 32px; }

@media (min-width: 925px) { .local-header { padding: 32px; } }

@media (min-width: 925px) { .local-header { margin-top: 32px; } }

@media (min-width: 641px) { .local-header { padding-top: 32px; } }

@media (min-width: 925px) { .local-header { padding-top: 48px; } }

.grid-row .local-header { margin-left: 0; margin-right: 0; margin-top: 0; }

.local-header * + * { margin-top: 16px; }

@media (min-width: 925px) { .local-header * + * { margin-top: 32px; } }

.local-header__return { background-color: #0072c6; border: 2px solid #338ed1; display: inline-block; margin-bottom: 16px; padding: 8px 16px; text-decoration: none; }

.local-header__return:hover { border-color: #99c7e8; color: #fff; }

.local-header__title { font-family: "FS Me", Arial, sans-serif; font-size: 28px; font-weight: 600; line-height: 40px; text-transform: none; color: #fff; margin: 0; }

@media (min-width: 641px) { .local-header__title { font-size: 32px; line-height: 48px; } }

@media (min-width: 925px) { .local-header__title { font-size: 36px; line-height: 48px; } }

@media (min-width: 641px) { .local-header__title { padding-top: 16px; } }

.local-header__intro { color: #fff; margin-top: 16px; max-width: 40em; padding-top: 16px; position: relative; }

@media (min-width: 925px) { .local-header__intro { margin-top: 32px; padding-top: 16px; } }

.local-header__intro:before { background-color: #338ed1; content: ""; display: block; height: 4px; left: 0; position: absolute; top: -2px; width: 130px; }

.notification-banner { background-color: #eff1f2; }

.notification-banner * { font-family: "FS Me", Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; text-transform: none; }

@media (min-width: 641px) { .notification-banner * { font-size: 16px; line-height: 24px; } }

@media (min-width: 925px) { .notification-banner * { font-size: 16px; line-height: 24px; } }

.js-enabled .notification-banner--js-hidden { display: none; }

.notification-banner--hiviz { background-color: #ffca55; }

.notification-banner--hiviz a:link { color: #005da2; }

.notification-banner--hiviz a:visited { color: #002e79; }

.notification-banner--hiviz a:hover { color: #0077a5; }

.notification-banner--hiviz a:active { color: #0077a5; }

.notification-banner--hiviz a:focus { outline: 3px solid #ffb81c; }

.notification-banner--system { background: #000 repeating-linear-gradient(45deg, #000, #000 10px, #333333 10px, #333333 20px); color: #fff; }

.notification-banner--system strong { font-weight: 600; }

.notification-banner__inner { padding: 8px 0; }

.panel { background-color: #eff1f2; display: table; width: 100%; }

.panel__content { padding: 16px; }

@media (min-width: 925px) { .panel__content { padding: 32px; } }

.panel__content--half { border: solid #d9e1e2; border-width: 4px 0 0; }

@media (min-width: 925px) { .panel__content--half { border-width: 0 0 0 4px; display: table-cell; width: 50%; } }

.panel__content--half + * { margin-top: 0; }

.panel__footer { padding: 16px; background-color: #d9e1e2; }

@media (min-width: 925px) { .panel__footer { padding: 32px; } }

* + .panel__footer { margin-top: 0; }

.section-unit--divider { padding-bottom: 16px; position: relative; }

@media (min-width: 925px) { .section-unit--divider { padding-bottom: 32px; } }

.section-unit--divider:after { background-color: #d9e1e2; bottom: -2px; content: ""; display: block; height: 4px; left: 0; position: absolute; width: 130px; }

.section-unit--divider:last-child { padding-bottom: 0; }

.section-unit--divider:last-child:after { display: none; }

.section-unit__prefix { font-family: "FS Me", Arial, sans-serif; font-size: 20px; font-weight: 400; line-height: 32px; text-transform: none; border-top: 4px solid #d9e1e2; display: inline-block; padding-top: 4px; }

@media (min-width: 641px) { .section-unit__prefix { font-size: 20px; line-height: 32px; } }

@media (min-width: 925px) { .section-unit__prefix { font-size: 20px; line-height: 32px; } }

.section-unit__prefix + * { margin-top: 8px; }

@media (min-width: 925px) { .section-unit__prefix + * { margin-top: 16px; } }

.selection-button { font-family: "FS Me", Arial, sans-serif; font-size: 20px; font-weight: 400; line-height: 32px; text-transform: none; cursor: pointer; display: block; min-height: 38px; padding: 2px 0; position: relative; }

@media (min-width: 641px) { .selection-button { font-size: 20px; line-height: 32px; } }

@media (min-width: 925px) { .selection-button { font-size: 20px; line-height: 32px; } }

.js-enabled .selection-button { padding-left: 50px; width: auto; }

.selection-button__input { cursor: pointer; margin-right: 10px; }

.js-enabled .selection-button__input { height: 38px; left: 0; margin-right: 0; position: absolute; top: 0; width: 38px; }

@media (min-width: 641px) { .selection-button--inline { float: left; }
  .selection-button--inline + .selection-button--inline { margin-left: 32px; margin-top: 0; } }

.js-enabled .selection-button--radio::before { background: #fff; border: 2px solid #768692; border-radius: 50%; content: ""; height: 38px; left: 0; position: absolute; top: 0; width: 38px; }

.js-enabled .selection-button--radio::after { background: currentColor; border-radius: 50%; content: ""; filter: alpha(opacity=0); height: 20px; left: 9px; opacity: 0; position: absolute; top: 9px; width: 20px; zoom: 1; }

.js-enabled .selection-button--checkbox::before { background: #fff; border: 2px solid #768692; content: ""; height: 38px; left: 0; position: absolute; top: 0; width: 38px; }

.js-enabled .selection-button--checkbox::after { background: transparent; border: solid; border-width: 0 0 5px 5px; content: ""; filter: alpha(opacity=0); height: 12px; left: 8px; opacity: 0; position: absolute; top: 10px; transform: rotate(-45deg); width: 22px; zoom: 1; }

.js-enabled .selection-button--radio.is-focused::before, .js-enabled .selection-button--checkbox.is-focused::before { box-shadow: 0 0 0 3px #ffb81c; }

.js-enabled .selection-button--radio.is-selected::after, .js-enabled .selection-button--checkbox.is-selected::after { filter: alpha(opacity=100); opacity: 1; zoom: 1; }

.js-enabled .selection-button--radio.has-error::before, .js-enabled .selection-button--checkbox.has-error::before { border-color: #d81e05; }

.skiplinks { background-color: #a6ceeb; }

.skiplinks__link { color: #fff; display: inline-block; left: -999em; padding: 8px; position: absolute; }

.skiplinks__link:focus { background-color: #f2f8fc; border: 3px solid #ffb81c; outline: none; position: static; }

.step-list { font-family: "FS Me", Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; text-transform: none; counter-reset: li; padding: 4px 0; }

@media (min-width: 641px) { .step-list { font-size: 16px; line-height: 24px; } }

@media (min-width: 925px) { .step-list { font-size: 16px; line-height: 24px; } }

.step-list__item { border-left: 2px solid #fff; list-style: none; margin-left: 16px; padding-bottom: 24px; padding-left: 32px; position: relative; }

@media (min-width: 925px) { .step-list__item { padding-bottom: 40px; } }

.step-list__item + .step-list__item { margin-top: 0; }

.step-list__item:before { background-color: #fff; border-radius: 50%; color: #0072c6; content: counter(li); counter-increment: li; height: 32px; left: -17px; line-height: 32px; position: absolute; text-align: center; top: -4px; width: 32px; }

.step-list__item.is-last { border: 0; padding-bottom: 0; }

.tabs__tab-container { margin-top: 0; }

.tabs__tab-content { margin-top: 0; }

.tabs__nav { border: solid #aeb4b5; border-width: 0 1px 0 0; margin-top: 0; padding: 0; }

.tabs__nav-item { border: solid #aeb4b5; border-width: 0 0 1px 1px; display: block; float: left; margin: 0; padding: 0; text-align: center; width: 50%; }

@media (min-width: 641px) { .tabs__nav-item { float: left; width: 25%; } }

.tabs__nav-item + .tabs__nav-item { margin-top: 0; }

.tabs__nav-link { background-color: #d9e1e2; display: block; margin: 0; padding: 16px 0; text-align: center; }

.tabs__nav-link:hover { background-color: #fff; color: #0072c6; }

.tabs__nav-link:focus { position: relative; z-index: 5; }

.tabs__nav-link:visited { color: #0072c6; }

.is-active .tabs__nav-link { background-color: #0072c6; color: #fff; cursor: default; text-decoration: none; }

.js-enabled .js-tabs-content > div { display: none; }

.js-enabled .js-tabs-content > div.is-active { display: block; }

/* Colours. */
html { background-color: #005eb8; }

.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

h1 { font-size: 36px; line-height: 48px; margin-top: 48px; }

hr--no-color, .hr--no-color { background-color: transparent; }

hr--higher, .hr--higher { height: 64px; }

@media (min-width: 925px) { a[href^="tel:"] { color: #000; text-decoration: none; } }

details summary { color: #005eb8; }

.local-header--question, .local-header > *, .global-header--question, .global-header > *, .global-footer--question, .global-footer > *, .notification-banner--question, .notification-banner > * { max-width: 960px; margin: 0 16px; padding: 8px 0; font-size: 16px; line-height: 24px; }

@media (min-width: 641px) { .local-header--question, .local-header > *, .global-header--question, .global-header > *, .global-footer--question, .global-footer > *, .notification-banner--question, .notification-banner > * { margin: 0 16px; } }

@media (min-width: 925px) { .local-header--question, .local-header > *, .global-header--question, .global-header > *, .global-footer--question, .global-footer > *, .notification-banner--question, .notification-banner > * { margin: 0 32px; } }

@media (min-width: 1024px) { .local-header--question, .local-header > *, .global-header--question, .global-header > *, .global-footer--question, .global-footer > *, .notification-banner--question, .notification-banner > * { margin: 0 auto; } }

.local-header__js-hidden, .global-header__js-hidden, .global-footer__js-hidden, .notification-banner__js-hidden { display: none; }

.local-header__hiviz, .global-header__hiviz, .global-footer__hiviz, .notification-banner__hiviz { background-color: #fada8b; }

.global-header--inner { padding-bottom: 16px; padding-top: 16px; }

@media (min-width: 641px) { .global-header--inner { padding-bottom: 24px; padding-top: 24px; } }

.global-header__link { background-size: contain; display: block; height: 32px; text-indent: -999em; width: 79px; }

.global-footer { background-color: #005eb8; }

.global-footer__inner { padding-bottom: 96px; padding-top: 32px; }

.global-footer__inner::before { background-size: contain; content: ""; display: block; height: 32px; margin-bottom: 32px; text-indent: -999em; width: 79px; }

@media (min-width: 925px) { .global-footer__inner::before { margin-bottom: 48px; } }

@media (min-width: 925px) { .global-footer__inner { padding-bottom: 128px; padding-top: 48px; } }

/* Skip Links */
.skiplinks { background-color: #a6ceeb; }

.skiplinks--link { color: #fff; display: inline-block; left: -999em; padding: 8px; position: absolute; }

.skiplinks--link:focus { background-color: #f2f8fc; border: 3px solid #ffb81c; outline: none; position: static; }

@media (max-width: 640px) { .skiplinks--link:focus { left: 0; position: absolute; } }

/* Form elements */
form.form { margin-top: 48px; }

form.form--error { margin-top: 0px; }

form .form-control { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: "FS Me", Arial, sans-serif; font-size: 24px; font-weight: 400; line-height: 32px; text-transform: none; width: 100%; padding: 4px; background-color: #fff; border: 3px solid #005eb8; }

@media (min-width: 641px) { form .form-control { font-size: 24px; line-height: 32px; width: 50%; } }

@media (min-width: 925px) { form .form-control { font-size: 24px; line-height: 32px; } }

form .form-control:focus { outline: solid 5px #FFB81C; border: 3px solid #005eb8; outline-offset: 0px; }

form .form-label { font-family: "FS Me", Arial, sans-serif; line-height: 32px; text-transform: none; }

form .form-label--bold { font-size: 24px; font-weight: 600; }

form .form-label--smaller + p { margin-top: 0; }

form .form-group { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left; width: 100%; margin-top: 16px; }

@media (min-width: 925px) { form .error { padding-left: 32px; } }

form .form-item-wrapper { clear: both; }

/* Results page */
.callout { display: block; }

.callout--friendly { background-color: transparent; border-color: #005eb8; padding: 0px 32px; }

.page-section .grid-row { margin: 0 -16px; }

.page-section .grid-row:after { clear: both; content: ""; display: block; }

@media (min-width: 925px) { .page-section .grid-row > * { margin-top: 0; } }

.page-section .grid-row .column--two-thirds { display: block; padding: 0 16px; }

@media (min-width: 641px) { .page-section .grid-row .column--two-thirds { float: left; width: 66.6667%; } }

.page-section .grid-row .results { list-style: none; margin: 0; padding: 0 16px; }

.page-section .grid-row .results__item { margin-top: 8px; }

.page-section .grid-row .results__item--nearest { border: 16px solid #005eb8; padding: 0; }

.page-section .grid-row .results__item--nearby { margin-top: 48px; }

.page-section .grid-row .results__item--nearby:first-child { padding-top: 0; }

.page-section .grid-row .results__item--nearby:first-child .results__details { padding-top: 0; }

.page-section .grid-row .results__item:first-child { margin-top: 0; }

.page-section .grid-row .results__item:after { clear: both; content: ""; display: block; }

.page-section .grid-row .results__header { font-size: 32px; line-height: 40px; padding: 0 8px; }

.page-section .grid-row .results__header--nearest { background-color: #005eb8; color: #fff; padding: 8px 8px 24px 8px; }

@media (min-width: 641px) { .page-section .grid-row .results__header { line-height: 48px; padding: 0; }
  .page-section .grid-row .results__header--nearest { padding: 16px 16px 32px 16px; }
  .page-section .grid-row .results__header--none { padding: 0; } }

.page-section .grid-row .results__details { padding: 0 32px 32px 32px; position: relative; }

.page-section .grid-row .results__details--nearby { padding-bottom: 32px; padding-left: 0; padding-right: 0; }

.page-section .grid-row .results__details--nearby:after { background-color: #d9e1e2; content: ""; display: block; height: 4px; left: 0; position: absolute; bottom: -2px; width: 130px; }

.page-section .grid-row .results__details .callout { display: block; }

.page-section .grid-row .results__details .callout--friendly { display: none; }

.page-section .grid-row .results__nearby { padding: 16px; }

@media (min-width: 925px) { .page-section .grid-row .results__nearby { padding: 32px; } }

.page-section .grid-row .results__nearby-list { list-style: none; margin: 32px 0 0 0; padding: 0; }

.page-section .grid-row .results__name { margin-top: 8px; }

.page-section .grid-row .results-block--none { background-color: #0072c6; color: #fff; margin-bottom: 32px; padding: 16px; }

@media (min-width: 925px) { .page-section .grid-row .results-block--none { margin-bottom: 48px; } }

.page-section .grid-row .results-block--none .results__header { padding: 8px 8px 12px 8px; }

@media (min-width: 925px) { .page-section .grid-row .results-block--none .results__header { padding: 8px 16px 0 16px; } }

.page-section .grid-row .results-block--none .results__none-content { background: #fff; color: #000; padding: 16px; }

@media (min-width: 925px) { .page-section .grid-row .results-block--none .results__none-content { padding: 32px; } }

.page-section .results__header + p { margin-bottom: 32px; }

/* Links */
.link-back { border-bottom: 1px solid #0b0c0c; color: #000000; display: inline-block; font-size: 16px; font-weight: 400; line-height: 1.25; margin-top: 16px; margin-bottom: 32px; padding-left: 14px; position: relative; text-decoration: none; text-transform: none; }

@media (min-width: 925px) { .link-back { margin-top: 0; } }

.link-back::before { border-bottom: 5px solid transparent; border-right: 6px solid #0b0c0c; border-top: 5px solid transparent; content: ""; display: block; height: 0; left: 0; margin-top: -6px; position: absolute; top: 50%; width: 0; }

.link-back:link, .link-back:visited, .link-back:hover, .link-back:active { color: #000000; }

/* Error styling */
.error { margin-right: 15px; border-left: 4px solid #da291c; padding-left: 10px; }

.error .form-group .form-control { border: 3px solid #da291c; }

.error .form-group .form-control:focus { border: 3px solid #da291c; }

@media (min-width: 641px) { .error { padding-left: 15px; } }

.error p { color: #da291c; }

.error .form-control { border-color: #da291c; }

/* Utilities. */
.u-nomargin { margin: 0; }

.u-margintop5 { margin-top: 5px; }

.u-margintop32 { margin-top: 32px; }

/* Other. */
.local-header--question { padding: 0; }

.local-header--smaller { font-size: 24px; line-height: 36px; }
